<!DOCTYPE html>
<html>

<head>
    <title>Social Graph</title>
</head>

<body>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script>
        const users = JSON.parse('{{.Users}}');

        const followerCounts = {};

        let maxFollowers = 0;

        users.forEach(user => {
            followerCounts[user.Id_User] = user.List_Followers.length;
            if (user.List_Followers.length > maxFollowers) {
                maxFollowers = user.List_Followers.length;
            }
        });

        const nodes = users.map(user => ({
            id: user.Id_User,
            opinion: user.Opinion,
            followerCount: followerCounts[user.Id_User]
        }));

        const links = [];

        users.forEach(user => {
            user.List_Following.forEach(following => {
                links.push({ source: user.Id_User, target: following });
            });
        });

        // Dimensions du graphique
        const width = window.innerWidth;
        const height = window.innerHeight;

        // Échelle de couleur
        const color = d3.scaleLinear()
            .domain([0, 1])
            .range(["blue", "red"]);

        // Création de la simulation
        const simulation = d3.forceSimulation(nodes)
            .force("link", d3.forceLink(links).id(d => d.id).distance(50)) // Augmentez la distance des liens
            .force("charge", d3.forceManyBody().strength(-120)) // Augmentez la force de répulsion
            .force("center", d3.forceCenter(width / 2, height / 2))
            .force("x", d3.forceX(d => width * d.opinion).strength(0.1));

        // Création du SVG
        const svg = d3.select("body").append("svg")
            .attr("width", width)
            .attr("height", height);

        // Définition du marqueur de flèche
        svg.append("defs").selectAll("marker")
            .data(["end"]) // Nom du marqueur
            .enter().append("marker")
            .attr("id", String)
            .attr("viewBox", "0 -5 10 10")
            .attr("refX", 25) // Position par rapport au nœud
            .attr("refY", 0)
            .attr("markerWidth", 6)
            .attr("markerHeight", 6)
            .attr("orient", "auto")
            .append("path")
            .attr("fill", "#999") // Couleur du marqueur
            .attr("d", "M0,-5L10,0L0,5");

        // Ajout des liens avec flèches
        const link = svg.append("g")
            .attr("stroke", "#999")
            .attr("stroke-opacity", 0.6)
            .selectAll("line")
            .data(links)
            .join("line")
            .attr("stroke-width", d => Math.sqrt(d.value))
            .attr("marker-end", "url(#end)"); // Utilisation du marqueur

        // Ajout des nœuds avec taille aléatoire
        const node = svg.append("g")
            .attr("stroke", "#fff")
            .attr("stroke-width", 1.5)
            .selectAll("circle")
            .data(nodes)
            .join("circle")
            .attr("r", d => 5 + d.followerCount / maxFollowers * 25)
            .attr("fill", d => color(d.opinion))
            .style("cursor", "pointer") // Style de curseur pour les nœuds
            .call(drag(simulation))
            .on("click", (event, d) => {
                window.location.href = `/profile?userId=${encodeURIComponent(d.id)}`;
            });

        // Ajout des titres (tooltips)
        node.append("title")
            .text(d => d.id);

        // Mise à jour des positions à chaque "tick"
        simulation.on("tick", () => {
            link
                .attr("x1", d => d.source.x)
                .attr("y1", d => d.source.y)
                .attr("x2", d => d.target.x)
                .attr("y2", d => d.target.y);
            node
                .attr("cx", d => d.x)
                .attr("cy", d => d.y);
            simulation.alpha(0.08)
        });

        // Gestion du drag & drop
        function drag(simulation) {
            function dragstarted(event) {
                if (!event.active) simulation.alphaTarget(0.3).restart();
                event.subject.fx = event.subject.x;
                event.subject.fy = event.subject.y;
            }

            function dragged(event) {
                event.subject.fx = event.x;
                event.subject.fy = event.y;
            }

            function dragended(event) {
                if (!event.active) simulation.alphaTarget(0);
                event.subject.fx = null;
                event.subject.fy = null;
            }

            return d3.drag()
                .on("start", dragstarted)
                .on("drag", dragged)
                .on("end", dragended);
        }

        setTimeout(() => { window.location.href = "/users"; }, 10000);
    </script>
</body>

</html>