<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Profil de {{.User.Id_user}}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <style>
            body {
                background-color: #f0f2f5;
            }
            h2 {
                color: #34568B;
                margin-top: 30px;
            }
            .profile-container {
                position: relative;
                max-width: 700px;
                margin: 20px auto;
                background-color: white;
                border-radius: 5px;
                padding: 15px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }
            .opinion-box {
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px 10px;
                border: none;
            }
            .follow {
                list-style-type: none;
                padding: 0;
            }
            .follow li {
                display: inline-block;
                margin-right: 10px;
                background-color: #f0f0f0;
                padding: 5px 10px;
                border-radius: 15px;
            }
            .post-card {
                border: 1px solid #cbcbcb;
                border-radius: 20px;
                padding: 10px;
                margin-bottom: 20px;
            }
            .post-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            h1, .author {
                font-weight: bold;
            }
            .author a {
                color: inherit;
                text-decoration: none;
            }
            .author a:hover {
                text-decoration: underline;
            }
            .date {
                color: #888;
            }
            .post-content {
                padding-top: 10px;
            }
            .opinion {
                font-weight: bold;
            }
            .opinion-low {
                color: blue;
            }
            .opinion-high {
                color: red;
            }
            .post-interactions {
                padding-top: 10px;
                margin-bottom: 10px;
                font-size: 0.9em;
                color: #616770;
            }
            .likes-count:hover, .shares-count:hover, .comments-count:hover {
                text-decoration: underline;
                cursor: pointer;
            }
            .likes-list, .shares-list {
                display: none;
                position: absolute;
                background-color: white;
                border: 1px solid #ddd;
                border-radius: 10px;
                padding: 5px;
                width: max-content;
            }
            .like-share {
                color: #007bff;
            }
            .comments-list {
                display: none;
            }
            .comment {
                border-top: 1px solid #cbcbcb;
                padding: 5px;
                font-size: 0.85em;
            }
            .modal {
                display: none;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                overflow: auto;
            }
            .modal-content {
                position: relative;
                background-color: #fff;
                padding: 20px;
                border-radius: 4px;
                width: auto;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
            }
            .close {
                position: absolute;
                font-size: 20px;
                top: 3px;
                left: 3px;
                font-weight: bold;
                color: #333;
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
            .close:hover {
                color: #000;
            }
            .close:hover, .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <div class="profile-container">
            <div class="opinion-box">
                <span class="opinion">{{.User.PriorOpinion}}</span>
                -> <span class="opinion">{{.User.Opinion}}</span>
            </div>
            <h1>Profil de {{.User.Id_user}}</h1>
            <h2>Abonnés</h2>
            <ul class="follow">
                {{range .User.List_Followers}}
                <li><a href="/profile?userId={{encodeURIComponent .}}">{{.}}</a></li>
                {{end}}
            </ul>
            <h2>Abonnements</h2>
            <ul class="follow">
                {{range .User.List_Following}}
                <li><a href="/profile?userId={{encodeURIComponent .}}">{{.}}</a></li>
                {{end}}
            </ul>
            <h2>Posts</h2>
            {{range $post := .User.Feed}}
            <div class="post-card">
                <div class="post-header">
                    <span class="author">{{if eq $post.Id_author $.User.Id_user}}Vous{{else}}<a href="/profile?userId={{encodeURIComponent $post.Id_author}}">{{$post.Id_author}}</a>{{end}}</span>
                    <span class="date">{{formatDate $post.Date_post}}</span>
                </div>
                <div class="post-content">{{$post.Content}}</div>
                <div class="post-interactions">
                    <span{{if gt $post.Counter_likes 0}} class="likes-count" data-post-id="{{$post.Id_post}}" {{end}}>{{$post.Counter_likes}} like{{if gt $post.Counter_likes 1}}s{{end}}</span>
                    - <span{{if gt $post.Counter_shares 0}} class="shares-count" data-post-id="{{$post.Id_post}}"{{end}}>{{$post.Counter_shares}} partage{{if gt $post.Counter_shares 1}}s{{end}}</span>
                    - <span{{if gt $post.Counter_comments 0}} class="comments-count" data-post-id="{{$post.Id_post}}" data-toggle="0" {{end}}>{{$post.Counter_comments}} commentaire{{if gt $post.Counter_comments 1}}s{{end}}</span>
                    {{if gt $post.Counter_likes 0}}
                    <div class="likes-list" data-post-id="{{$post.Id_post}}">
                        {{range getSortedUsersKeys $post.List_id_likers}}
                        <div class="like-share">{{if eq . $.User.Id_user}}Vous{{else}}{{.}}{{end}}</div>
                        {{end}}
                    </div>
                    {{end}}
                    {{if gt $post.Counter_shares 0}}
                    <div class="shares-list" data-post-id="{{$post.Id_post}}">
                        {{range getSortedUsersKeys $post.List_id_sharers}}
                        <div class="like-share">{{if eq . $.User.Id_user}}Vous{{else}}{{.}}{{end}}</div>
                        {{end}}
                    </div>
                    {{end}}
                </div>
                {{if gt $post.Counter_comments 0}}
                <div class="comments-list" data-post-id="{{$post.Id_post}}">
                    {{range getSortedCommentsKeys $post.List_comments}}
                    {{$comment := index $post.List_comments .}}
                    <div class="comment">
                        <span class="author">{{if eq $comment.Id_author $.User.Id_user}}Vous{{else}}<a href="/profile?userId={{encodeURIComponent $comment.Id_author}}">{{$comment.Id_author}}</a>{{end}}</span>
                        <span class="comment-content">{{$comment.Content}}</span>
                        <div class="date">{{formatDate $comment.Date_comment}}</div>
                    </div>
                    {{end}}
                </div>
                {{end}}
            </div>
            {{end}}
        </div>
        <div class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="modal-users-content"></div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.post-content').each(function () {
                    let content = $(this).html();
                    let updatedContent = content.replace(/(;\s[^;]*)$/, '<span class="opinion">$1</span>');
                    $(this).html(updatedContent);
                });
                $('.likes-count').mouseover(function () {
                    let postId = $(this).data('post-id');
                    $('.likes-list[data-post-id="' + postId + '"]').show();
                }).mouseout(function () {
                    let postId = $(this).data('post-id');
                    $('.likes-list[data-post-id="' + postId + '"]').hide();
                });
                $('.likes-count').click(function () {
                    let postId = $(this).data('post-id');
                    let $modalContent = $('.modal-users-content');
                    $modalContent.empty();
                    $('.likes-list[data-post-id="' + postId + '"] div').each(function () {
                        let userId = $(this).text();
                        if (userId == "Vous") {
                            $modalContent.append('<div class="like-share">Vous</div>');
                        } else {
                            $modalContent.append('<div><a href="/profile?userId=' + encodeURIComponent(userId) + '">' + userId + '</a></div>');
                        }
                    });
                    $('.modal').css('display', 'flex');
                });
                $('.shares-count').mouseover(function () {
                    let postId = $(this).data('post-id');
                    $('.shares-list[data-post-id="' + postId + '"]').show();
                }).mouseout(function () {
                    let postId = $(this).data('post-id');
                    $('.shares-list[data-post-id="' + postId + '"]').hide();
                });
                $('.shares-count').click(function () {
                    let postId = $(this).data('post-id');
                    let $modalContent = $('.modal-users-content');
                    $modalContent.empty();
                    $('.shares-list[data-post-id="' + postId + '"] div').each(function () {
                        let userId = $(this).text();
                        if (userId == "Vous") {
                            $modalContent.append('<div class="like-share">Vous</div>');
                        } else {
                            $modalContent.append('<div><a href="/profile?userId=' + encodeURIComponent(userId) + '">' + userId + '</a></div>');
                        }
                    });
                    $('.modal').css('display', 'flex');
                });
                $('.close').click(function () {
                    $('.modal').css('display', 'none');
                });
                $(window).click(function (event) {
                    if ($(event.target).is('.modal')) {
                        $('.modal').css('display', 'none');
                    }
                });
                $('.comments-count').click(function () {
                    let postId = $(this).data('post-id');
                    let toggle = $(this).data('toggle');
                    if (toggle == 0) {
                        $('.comments-list[data-post-id="' + postId + '"]').slideDown();
                        $(this).data('toggle', 1);
                    } else {
                        $('.comments-list[data-post-id="' + postId + '"]').slideUp();
                        $(this).data('toggle', 0);
                    }
                });
                $('.comment-content').each(function () {
                    let content = $(this).html();
                    let updatedContent = content.replace(/(;\s[^;]*)$/, '<span class="opinion">$1</span>');
                    $(this).html(updatedContent);
                });
                $('.opinion').each(function () {
                    let opinionValue = parseFloat($(this).text().replace(';', '').trim());
                    if (opinionValue < 0.5) {
                        $(this).addClass('opinion-low');
                    } else {
                        $(this).addClass('opinion-high');
                    }
                });
            });
        </script>
    </body>
</html>